[submodule "task0/data"]
	path = task0/data
	url = https://github.com/sigmorphon2020/task0-data.git
[submodule "task0/baselines"]
	path = task0/baselines
	url = https://github.com/sigmorphon2020/task0-baselines.git
