[submodule "task0/data"]
	path = task0/data
	url = https://github.com/sigmorphon2020/task0-data.git
[submodule "task0/baselines"]
	path = task0/baselines
	url = https://github.com/sigmorphon2020/task0-baselines.git
[submodule "task2/baseline_and_eval"]
	path = task2/baseline_and_eval
	url = https://github.com/cai-lw/morpho-baseline.git
